.container {
  width: 80%;
  margin: auto;
}
.header {
  font-size: 25px;
  margin-bottom: 20px;
}
.name {
  font-size: 20px;
  margin-bottom: 5px;
}
.price {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 80px;
}
.img-container {
  display: flex;
  justify-content: space-between;
}
.img-container img {
  margin-bottom: 10px;
  border-radius: 10px;
  width: 350px;
  height: 450px;
}
.product-img {
  display: flex;
  flex-direction: column;
}
